* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.background-div {
  background-image: url(./public/bg-imaeg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* filter: blur(4px); */
  transform: scale(1.1);
  /* box-shadow: none; */
  height: 100dvh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

.main-div {
  position: absolute;
  width: 100%;
  height: 100%;
  user-select: none;
}

.main-div > header, footer {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  color: #fff;
  font-weight: 600;
  font-size: x-large;
  height: 30px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-div > footer {
  font-size: medium;
  font-weight: normal;
}

.main-div > main {
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  color: white;
  height: calc(100dvh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  gap: 5px;
}


main > .drum {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-weight: 400;
  border: 0.5px solid #f9f9f9
}

main > .drum:hover {
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid #ffffff;
  font-weight: 800;
  cursor: pointer;
  width: 100px;
  height: 100px;
}

main > .drum-pressed {
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid #ffffff;
  font-weight: 800;
  cursor: pointer;
  width: 100px;
  height: 100px;
}


.uwu-girl {
  display: none;
  position: absolute;  
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.uwu-girl-show {
  display: block;
}

.fullscreen-button {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  backdrop-filter: blur(10px);
  position: absolute;
  top: 10%;
  right: 2%;
  border-radius: 20px;
  cursor: pointer;
}